
<odoo>
  <data>

	    <!-- Comunicaciones  -->
        <menuitem id="menu_comunicaciones"
		          web_icon="pyme_organizacionmenu,static/description/menu/comunicacion.png"
                  name="Comunicación"
				  sequence="1"
				  />

        <menuitem id="pyme_emails.menu_emails"
                  parent="menu_comunicaciones"
		          web_icon="pyme_emails,static/menu/mail.png"
			      sequence="1"
                  name="Email"/>


		<menuitem id="menu_conversaciones"
			name="Conversaciones"
			parent="menu_comunicaciones"
		    sequence="2"/>

       <menuitem id="conversaciones_odoo"
          name="Charla en Vivo"
          parent="menu_conversaciones"
          action="pyme_rasa.action_rasa_conversaciones2"/>

       <menuitem id="pyme_telegram.telegramconf_menu_conversaciones"
          name="Telegram"
          parent="menu_conversaciones"
          action="pyme_telegram.action_conversaciones_telegram"/>



    <menuitem
        id="mail.menu_root_discuss"
        name="Conversaciones"
        action="mail.action_discuss"
        web_icon="mail,static/description/icon.png"
        parent="menu_conversaciones"
        groups="base.group_user"
        sequence="1"/>


        <!-- 
		<menuitem id="pyme_rasa.item_odooconversaciones"
			name="Rasa"
			parent="menu_comunicaciones"
		    sequence="2"/> 
			
			-->


		 <menuitem id="base.menu_main" 
			name="Conversaciones" 
			sequence="20" 
			parent="menu_comunicaciones"/>


	    <!-- Productividad  -->
		<menuitem
			id="calendar.mail_menu_calendar"
			name="Calendario"
			sequence="10"
			parent="pyme_productividad.menu_productividad"
			action="calendar.action_calendar_event"
			web_icon="calendar,static/description/icon.png"
			groups="base.group_user"/>





		<menuitem name="Proyectos"
			id="project.menu_main_pm"
			parent="pyme_productividad.menu_productividad"
			web_icon="project,static/description/icon.png"
			sequence="50"/>


		<!-- Ajustes  -->
		<menuitem name="Ajustes"
			id="menu_ajustes"
			web_icon="base,static/description/settings.png"
			sequence="50"/>


		 <menuitem id="base.menu_management" 
					name="Aplicaciones" 
				    parent="menu_ajustes"
					sequence="1" 
					web_icon="base,static/description/modules.png" 
					groups="base.group_system"/>

		 <menuitem name="Settings"
				  id="base.menu_administration"
				  parent="menu_ajustes"
				  web_icon="base,static/description/settings.png"
				  sequence="2"
				  groups="base.group_erp_manager"/>



        <menuitem
            id="im_livechat.menu_livechat_root"
            name="Live Chat"
            web_icon="im_livechat,static/description/icon.png"
		    parent="menu_ajustes"
            groups="im_livechat.im_livechat_group_user"
            sequence="5"/>


      <menuitem id="pyme_rasa.menu_rasa" 
              name="Rasa" 
			  parent="menu_ajustes"
              web_icon="pyme_rasa,static/menu/rasa_logo.jpg"
              sequence="15"/>



		 <menuitem id="pyme_notificaciones.notificaciones_menu" 
					name="Notificaciones" 
				    parent="pyme_organizacionmenu.menu_ajustes"
					sequence="1" 
					web_icon="base,static/description/modules.png"/>



         <menuitem id="pyme_telegram.telegramconf_menu" 
					name="Telegram" 
				    parent="pyme_organizacionmenu.menu_ajustes"
					sequence="11" 
					web_icon="base,static/description/modules.png"/>


        <menuitem id="pyme_telegram.ia_menu" 
					name="Bots" 
				    parent="pyme_organizacionmenu.menu_ajustes"
					sequence="10" 
					web_icon="base,static/description/modules.png"/>



  </data>
</odoo>

